.topbar-container {
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    background: hsl(0deg 0% 0% / 89%);
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 1;
    backdrop-filter: blur(4px);
}

.topbar {
    width: 100%;
    display: flex;
    align-items: center;
    max-width: 1280px;
    justify-content: space-between;
}

.menu-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #fff;
    font-size: 32px;
    text-decoration: none;
    font-family: 'Birthstone', sans-serif;
}

.menu {
    display: flex;
}

.menu-item {
    gap: 8px;
    color: #fff;
    display: flex;
    font-size: 14px;
    text-decoration: none;
    padding: 8px 12px;
    flex-direction: row;
    align-items: center;
    font-weight: 500;
    border-radius: calc(0.5rem - 2px);
}

.active-link {
    background-color: #e4212159;
}