@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background-dark text-white font-sans antialiased;
    background-color: #050505;
    background-image: radial-gradient(circle at top, #1a1a1a 0%, #000000 100%);
    min-height: 100vh;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
  }
}

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. */