.collections-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*********** MEDIA QUERIES ***********/
/* 1440px ve daha geniş ekranlar için stil */
@media only screen and (min-width: 1441px) {
    .collections-list-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        overflow-x: auto;
        gap: 40px;
    }

    .collection {
        flex: 0 0 auto; /* Koleksiyonların yatayda döngüsel hizalanmasını sağlar */
    }

    .collection:last-child {
        margin-right: 0; /* Son koleksiyonun sağdaki boşluğunu kaldır */
    }
  }
  
  /* 1024px - 1439px arası ekranlar için stil */
  @media only screen and (min-width: 1025px) and (max-width: 1440px) {
    .collections-list-container {
        width: 100%;
        display: flex;
        padding: 0 24px;
        flex-direction: column;
        flex-wrap: nowrap;
        overflow-x: auto;
        gap: 30px;
    }

    .collection {
        flex: 0 0 auto;
    }

    .collection:last-child {
        margin-right: 0;
    }
  }
  
  /* 768px - 1023px arası ekranlar için stil */
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .collections-list-container {
        width: 100%;
        display: flex;
        padding: 0 24px;
        flex-direction: column;
        align-items: center;
    }

    .collection {
        width: 100%;
        margin-bottom: 30px;
    }

    .collection:last-child {
        margin-bottom: 0;
    }

    .collection h2 {
        font-size: 18px;
    }
  }
  
  /* 320px'den küçük ekranlar için stil */
  @media only screen and (max-width: 767px) {
    .collections-list-container {
        width: 100%;
        display: flex;
        padding: 0 24px;
        flex-direction: column;
        align-items: center;
    }

    .collection {
        width: 100%;
        margin-bottom: 20px;
    }

    .collection h2 {
        font-size: 16px;
    }
  }