.footer-container {
    gap: 24px;
    display: flex;
    padding: 32px 30px;
    border-top: 1px solid #252525;

    .footer {
        width: 100%;
        display: flex;
        margin: 0 auto;
        align-items: center;
        justify-content: space-between;

        div {

            label {
                font-size: 14px;
            }
        }
    }

    .subscribe {
        outline: none;
        box-shadow: none;
        background: rgb(25 25 25);
    }

    .patent {
        min-width: 340px;
        font-size: 14px;
        padding-top: 24px;
        text-align: right;
        letter-spacing: 2px;
    }
}


/*********** MEDIA QUERIES ***********/

/* 1440px ve daha geniş ekranlar için stil */
@media only screen and (min-width: 1440px) {}

/* 1024px - 1439px arası ekranlar için stil */
@media only screen and (min-width: 1024px) and (max-width: 1439px) {}

/* 768px - 1023px arası ekranlar için stil */
@media only screen and (min-width: 768px) and (max-width: 1023px) {}

/* 320px - 767px arası ekranlar için stil */
@media only screen and (min-width: 320px) and (max-width: 767px) {}

/* 320px'den küçük ekranlar için stil */
@media only screen and (max-width: 425px) {
    .footer {
        flex-direction: column;
    }

    .subscribe {
        width: 100% !important;
    }
}